@font-face {
	font-family: 'SF Pro Display';
	src: url('SFProDisplay-Medium.eot');
	src: url('SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
		url('SFProDisplay-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('SFProDisplay-RegularItalic.eot');
	src: url('SFProDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),
		url('SFProDisplay-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('SFProDisplay-LightItalic.eot');
	src: url('SFProDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('SFProDisplay-LightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('SFProDisplay-SemiboldItalic.eot');
	src: url('SFProDisplay-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
		url('SFProDisplay-SemiboldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('SFProDisplay-BlackItalic.eot');
	src: url('SFProDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('SFProDisplay-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('SFProDisplay-UltralightItalic.eot');
	src: url('SFProDisplay-UltralightItalic.eot?#iefix') format('embedded-opentype'),
		url('SFProDisplay-UltralightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('SFProDisplay-Light.eot');
	src: url('SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
		url('SFProDisplay-Light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('SFProDisplay-Ultralight.eot');
	src: url('SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
		url('SFProDisplay-Ultralight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('SFProDisplay-Semibold.eot');
	src: url('SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
		url('SFProDisplay-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('SFProDisplay-Black.eot');
	src: url('SFProDisplay-Black.eot?#iefix') format('embedded-opentype'),
		url('SFProDisplay-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('SFProDisplay-ThinItalic.eot');
	src: url('SFProDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('SFProDisplay-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('SFProDisplay-Bold.eot');
	src: url('SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('SFProDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('SFProDisplay-Regular.eot');
	src: url('SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('SFProDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('SFProDisplay-Heavy.eot');
	src: url('SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
		url('SFProDisplay-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('SFProDisplay-BoldItalic.eot');
	src: url('SFProDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('SFProDisplay-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('SFProDisplay-HeavyItalic.eot');
	src: url('SFProDisplay-HeavyItalic.eot?#iefix') format('embedded-opentype'),
		url('SFProDisplay-HeavyItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('SFProDisplay-MediumItalic.eot');
	src: url('SFProDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('SFProDisplay-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('SFProDisplay-Thin.eot');
	src: url('SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
		url('SFProDisplay-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

