.bg {
  background: linear-gradient(
    to bottom,
    #ffb600,
    #ffaa00,
    #ff9e00,
    #ff9100,
    #ff8500,
    #ff7900,
    #ff6d00,
    #ff6000,
    #ff5400,
    #ff4800
  );
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

main {
  position: absolute;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-family: "SF Pro Display";
  font-size: 42px;
  font-weight: 600;
}

ngb-carousel {
  max-width: 900px;
  margin: 0 50px;
  font-family: "SF Pro Text";
}

::ng-deep .carousel-inner {
  border-radius: 25px;
}

.button-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.result-container,
.amount-container,
.btn-alcohol {
  border-radius: 10px;
  padding: 40px;
  background-color: white;
  transition: all 0.3s;
  font-weight: 600;
}
.btn-alcohol:hover {
  transform: scale(1.2);
}

.input-and-button {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.result-container,
.amount-container {
  width: 50vw;
  min-width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-container {
  display: flex;
  flex-direction: column;
}
.result-container p {
  text-align: center;
}
.result-container button {
  font-family: "SF Pro Text";
  font-weight: 500;
}

@media screen and (max-width: 500px) {
  .button-container {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
