.number {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.btn:active {
  border-color: transparent;
}

.white-space {
  display: inline;
}

.bg {
  background: linear-gradient(
    to bottom,
    #ffb600,
    #ffaa00,
    #ff9e00,
    #ff9100,
    #ff8500,
    #ff7900,
    #ff6d00,
    #ff6000,
    #ff5400,
    #ff4800
  );
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

main {
  position: absolute;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  margin: 0 auto;
}

.logo-and-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: end;
}

.title-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
  margin-right: 50px;
  padding-left: 10vw;
}

h1.title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 44px;
  font-weight: 700;
  color: #044996;
}

h2.title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 30px;
  font-weight: 700;
  color: #044996;
}

ngb-carousel {
  max-width: 900px;
  margin: 0 50px;
}

.logo {
  width: 140px;
  padding-right: 10px;
  position: relative;
  bottom: 30px;
}

::ng-deep .carousel-inner {
  border-radius: 25px;
}

.after-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.after-carousel p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 32px;
  color: #044996;
  text-align: center;
  max-width: 80vw;
  width: fit-content;
  margin-bottom: 0;
}

.consumed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.consumed-container-title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 32px;
  color: #044996;
  text-align: center;
  max-width: 80vw;
}

.consumed-container-text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 19px;
  color: #044996;
  text-align: center;
  max-width: 80vw;
}

.button-container,
.result-container,
.amount-container {
  min-height: 400px;
}

.button-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.result-container,
.amount-container,
.btn-alcohol {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 40px;
  transition: all 0.3s;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.btn-alcohol:hover {
  transform: scale(1.2);
}

.btn-alcohol:nth-child(1) .alcohol-pic {
  position: relative;
  bottom: 3px;
}
.btn-alcohol:nth-child(2) .alcohol-pic {
  position: relative;
  bottom: 10px;
}
.btn-alcohol:nth-child(3) .alcohol-pic {
  position: relative;
  bottom: 3px;
}
.btn-alcohol:nth-child(4) .alcohol-pic {
  position: relative;
  bottom: 3px;
}
.btn-alcohol:nth-child(5) .alcohol-pic {
  position: relative;
  bottom: 5px;
}
.btn-alcohol:nth-child(6) .alcohol-pic {
  position: relative;
  bottom: 2px;
}

.alcohol-pic {
  width: 40px;
}

.alcohol-name {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 33.5px;
  font-weight: 500;
  color: #044996;
}

.amount-container label {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 19px;
  color: #044996;
  text-align: center;
}

.input-and-button {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.result-container,
.amount-container {
  width: 50vw;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-container {
  display: flex;
  flex-direction: column;
}
.result-container p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 19px;
  color: #044996;
}
.result-container button {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 19px;
}
.result-container p.text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 22px;
}

.spinner-container {
  transition: all 0.5s;
}

.active {
  opacity: 1;
}
.not-active {
  opacity: 0;
}

.open-modal-btn {
  border: none;
}

@media screen and (max-width: 500px) {
  main {
    gap: 2rem;
  }

  h1.title {
    font-size: 30px;
  }

  h2.title {
    font-size: 22px;
  }

  .after-carousel p {
    font-size: 18px;
  }

  .consumed-container-title {
    font-size: 18px;
  }

  .consumed-container-text {
    font-size: 14px;
  }

  .alcohol-name {
    font-size: 18px;
  }

  .amount-container {
    align-items: flex-start;
  }

  .amount-container label {
    font-size: 18px;
  }

  .result-container p {
    font-size: 18px;
  }

  .result-container button {
    font-size: 18px;
  }

  .result-container p.text {
    font-size: 14px;
  }

  .button-container {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .btn-alcohol {
    padding: 0;
  }

  .logo-and-title {
    flex-direction: column-reverse;
  }

  .white-space {
    display: none;
  }
}
